.form{
  border: 1px solid blue;
  padding-left: 1%;
}



input{
  margin: 1% 0;
}

button{
  margin: 1% 0;
}


.nascondiTabella{
  opacity: 0;
  transition: 2s;
}

.mostraTabella{
  opacity: 1;
  transition: 2s;
}


#biglietto{
  margin: 10px 0;
  padding: 10px;
}

table{
  border: 1px solid blue;
}


thead tr{
  color: red;
}

thead tr th{
  padding: 0 2%;
}

tbody tr{
  color: black;
}
